{erl_opts, [debug_info]}.
{deps, [
        {jsx, {git, "https://github.com/cleverfox/jsx.git", "develop"}},
        {msgpack, {git, "https://github.com/cleverfox/msgpack-erlang", {branch, "master"}}},
        {gb_merkle_trees, {git, "https://github.com/KrzysiekJ/gb_merkle_trees.git", "8ca2b71bcd87777eb10f25119a393ba7b4b3c219"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [tplib]}
]}.
{xref_warnings, true}.
{xref_extra_paths, []}.
{xref_checks, [
               undefined_function_calls,
%               export_not_used,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.
